<section class="work-process ptb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">Proceso</h4>
          <h2>Nuestro proceso de trabajo</h2>
          <p>
            Sigue nuestro proceso de cerca a la hora de planear un proyecto.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-md-12 order-1 order-lg-0">
        <div class="img-wrap">
          <img
            src="assets/img/office-img-1.png"
            alt="work process"
            class="img-fluid rounded-custom"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12 order-0 order-lg-1">
        <ul class="work-process-list list-unstyled">
          <li class="d-flex align-items-start mb-4">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-folder-tree fa-2x"></i>
            </div>
            <div class="icon-content">
              <span class="text-primary h6">Paso 1</span>
              <h3 class="h5 mb-2">Análisis del Requerimiento</h3>
              <p>
                En esta etapa nos dedicamos a definir y detallar el requerimiento de nuestro cliente.
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start mb-4">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-bezier-curve fa-2x"></i>
            </div>
            <div class="icon-content">
              <span class="text-primary h6">Paso 2</span>
              <h3 class="h5 mb-2">Desarrollo</h3>
              <p>
                En esta etapa una vez definido el alcance y el presupuesto,
                se inicia el desarrollo del proyecto.
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start mb-4">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-layer-group fa-2x"></i>
            </div>
            <div class="icon-content">
              <span class="text-primary h6">Paso 3</span>
              <h3 class="h5 mb-2">Testing</h3>
              <p>
                En esta estapa se abarcan las pruebas funcionales y las pruebas unitarias del desarrollo.
              </p>
            </div>
          </li>
          <li class="d-flex align-items-start mb-4 mb-lg-0">
            <div
              class="process-icon-2 border border-2 rounded-custom bg-white me-4 mt-2"
            >
              <i class="far fa-truck fa-2x"></i>
            </div>
            <div class="icon-content">
              <span class="text-primary h6">Paso 4</span>
              <h3 class="h5 mb-2">Entrega Final</h3>
              <p>
                En esta estapa se hace la entrega del producto final una vez que esten cubiertas 
                las pruebas de manera exitosa.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
