<footer class="bg-dark-black crypto-footer pt-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="crypto-footer-widget text-center">
          <div class="">
            <a routerLink="/" class="crypto-logo">
              <img src="assets/img/logo-white.png" class="mb-30" alt="logo" />
            </a>
            <p>
              Bitcoin, first released as open-source software in is the first
              decentralized cryptocurrency. Since the release of bitcoin
            </p>
          </div>
          <nav class="crypto-footer-nav py-5">
            <ul class="list-unstyled list-inline">
              <li class="list-inline-item px-lg-4 px-3">
                <a
                  routerLink="/"
                  class="text-decoration-none fw-semibold text-white"
                >
                  Home
                </a>
              </li>
              <li class="list-inline-item px-lg-4 px-3">
                <a
                  routerLink="/about"
                  class="text-decoration-none fw-semibold text-white"
                >
                  About
                </a>
              </li>
              <li class="list-inline-item px-lg-4 px-3">
                <a
                  routerLink="/about"
                  class="text-decoration-none fw-semibold text-white"
                >
                  Market
                </a>
              </li>
              <li class="list-inline-item px-lg-4 px-3">
                <a
                  routerLink="/contact"
                  class="text-decoration-none fw-semibold text-white"
                >
                  Trading
                </a>
              </li>
              <li class="list-inline-item px-lg-4 px-3">
                <a
                  routerLink="/about"
                  class="text-decoration-none fw-semibold text-white"
                >
                  Team
                </a>
              </li>
            </ul>
          </nav>
          <h4 class="text-white mb-4 fw-medium">Join the Conversation</h4>
          <ul class="list-unstyled crypto-footer-social pb-120">
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-twitter"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-dribbble"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="#">
                <i class="fab fa-behance"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="crypto-footer-border py-3">
    <div class="container">
      <div class="row justify-content-between align-items-center">
        <div class="col-lg-6 col-md-7">
          <div class="crypto-footer-left">
            <p class="m-0 text-center text-lg-start">
              Copyright@themestags. 2022. All rights reserved.
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-5">
          <div class="crypto-footer-right text-center text-md-end">
            <ul class="list-unstyled mt-3 mt-md-0">
              <li class="list-inline-item pe-2">
                <a routerLink="/help-center" class="text-decoration-none">
                  Support
                </a>
              </li>
              <li class="list-inline-item">
                <a routerLink="/help-center" class="text-decoration-none">
                  Privacy Policy
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
