<section class="faq-section pt-60 pb-120 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6">
        <div class="section-heading text-center">
          <h4 class="h5 text-primary">FAQ</h4>
          <h2>Preguntas Frecuentes</h2>
          <p>
            Estas son las preguntas más frecuentes que nos hacen nuestros clientes antes de una cotización.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-between">
      <div class="col-lg-5 col-12">
        <div class="faq-wrapper">
          <div class="faq-item mb-5">
            <h5>
              <span class="h3 text-primary me-2">1.</span> ¿Cuánto tiempo se puede tardar el desarrollo?
            </h5>
            <p style="text-align: justify;">
              Eso dependerá del alcance del proyecto, en el momento de la propuesta 
              queda detallado el tiempo que se ha asignado a cada tarea y está sujeto a negociación.
            </p>
          </div>
          <div class="faq-item mb-5">
            <h5>
              <span class="h3 text-primary me-2">2.</span> ¿Cómo puedo estimar el costo de mi proyecto?
            </h5>
            <p style="text-align: justify;">
              Trabajamos en función de objetivos y de resultados todo dependerá del alcance del proyecto y su complejidad.
            </p>
          </div>
          <div class="faq-item">
            <h5>
              <span class="h3 text-primary me-2">3.</span> ¿El servicio incluye un mantenimiento una vez entregado el producto?
            </h5>
            <p style="text-align: justify;">
              Existe un tiempo definido en el que nos encargamos de cualquier eventualidad que se presente, una vez
              finalizado este tiempo el cliente puede obtener cualquier plan de mantenimiento de la plataforma con nosotros.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="text-center mt-4 mt-lg-0 mt-md-0">
          <img src="assets/img/faq.svg" alt="faq" class="img-fluid" />
        </div>
      </div>
    </div>
  </div>
</section>
