<section class="cyber-store-product">
  <div
    class="store-bg-header"
    style="background: url('assets/img/shop_bg.png') no-repeat center center"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
          <div class="section-heading text-center mb-5">
            <h5 class="h6 text-white">Online Store</h5>
            <h2 class="text-white">Our popular Cyber security products</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row product-row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-product position-relative mb-30">
          <div class="product-img">
            <img
              src="assets/img/store/pro-1.jpg"
              alt="product photo"
              class="img-fluid"
            />
          </div>
          <div class="product-cart-wishlist-icon">
            <div class="cart">
              <i class="far fa-cart-shopping"></i>
            </div>
            <div class="heart">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="bg-white text-center shadow-sm py-4 product-info">
            <h6>Combination Padlock</h6>
            <span class="fw-bold">120.00$ </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-product position-relative mb-30">
          <div class="product-img">
            <img
              src="assets/img/store/pro-2.jpg"
              alt="product photo"
              class="img-fluid"
            />
          </div>
          <span class="bg-primary text-white px-2 rounded sale-badge"
            >Sale!</span
          >
          <div class="product-cart-wishlist-icon">
            <div class="cart">
              <i class="far fa-cart-shopping"></i>
            </div>
            <div class="heart">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="bg-white text-center shadow-sm py-4 product-info">
            <h6>Biometrics-Fingerprint</h6>
            <span class="fw-bold">56.00$ </span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-product position-relative mb-30">
          <div class="product-img">
            <img
              src="assets/img/store/pro-3.jpg"
              alt="product photo"
              class="img-fluid"
            />
          </div>

          <div class="product-cart-wishlist-icon">
            <div class="cart">
              <i class="far fa-cart-shopping"></i>
            </div>
            <div class="heart">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="bg-white text-center shadow-sm py-4 product-info">
            <h6>WeJupit Fingerprint Key</h6>
            <span class="fw-bold">175.00$ </span>
            <span class="text-decoration-line-through"> 150.00$</span>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-product position-relative mb-30">
          <div class="product-img">
            <img
              src="assets/img/store/pro-4.jpg"
              alt="product photo"
              class="img-fluid"
            />
          </div>
          <div class="product-cart-wishlist-icon">
            <div class="cart">
              <i class="far fa-cart-shopping"></i>
            </div>
            <div class="heart">
              <i class="far fa-heart"></i>
            </div>
          </div>
          <div class="bg-white text-center shadow-sm py-4 product-info">
            <h6>Smart Fingerprint Lock</h6>
            <span class="fw-bold">175.00$ </span>
            <span class="text-decoration-line-through"> 150.00$</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
