<section id="whychoose" class="feature-promo ptb-120 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-10">
        <div class="section-heading text-center">
          <h2>¿Por qué nosotros?</h2>
          <p>
            Nos comprometemos a cumplir los tiempos de entrega que requiera cada
            cliente adaptandonos a su presupuesto.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-primary">
            <i class="fa-regular fa-timer fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Entregas a Tiempo</h3>
            <p>
              Nos comprometemos con los tiempos de entrega que requiere tu proyecto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-danger">
            <i class="fa-light fa-sack-dollar fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Adaptados a tu Presupuesto</h3>
            <p>
              Nos adaptamos en la medida de lo posible al presupuesto que dispongas para
              tu proyecto.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="single-feature-promo p-5 text-center mt-4">
          <div class="feature-icon icon-center pb-5 rounded-custom bg-dark">
            <i class="fal fa-code fa-2x text-white"></i>
          </div>
          <div class="feature-info-wrap">
            <h3 class="h5">Software de Calidad</h3>
            <p>
              Desarrollamos el software de tu proyecto bajo estandares de calidad
              y buenas prácticas.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
