<section class="ptb-120">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="about-left text-lg-center mb-32 mb-lg-0">
          <img src="/assets/img/about.jpg" alt="" class="img-fluid" />
        </div>
      </div>
      <div class="col-lg-6">
        <div class="about-right">
          <h4 class="text-primary h5 mb-3">Why Choose Us</h4>
          <h2 class="mb-4">
            We are working with <br />
            15 years exprience
          </h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
            humour
          </p>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
            <li class="py-1">
              <div class="d-flex about-icon-box align-items-center">
                <div class="me-3">
                  <img src="assets/img/pie-chart.png" alt="" />
                </div>
                <div>
                  <h5>Expert around the world</h5>
                </div>
              </div>
            </li>
            <li class="py-1">
              <div class="d-flex about-icon-box align-items-center">
                <div class="me-3">
                  <img src="assets/img/team.png" alt="" />
                </div>
                <div>
                  <h5>Best Practice For Business</h5>
                </div>
              </div>
            </li>
          </ul>

          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
            <li class="py-1">
              <i class="fad fa-check-circle me-2 text-primary"></i>
              Digital Conference
            </li>
            <li class="py-1">
              <i class="fad fa-check-circle me-2 text-primary"></i>
              Greate Speckers
            </li>
            <li class="py-1">
              <i class="fad fa-check-circle me-2 text-primary"></i>Event
              Management
            </li>
            <li class="py-1">
              <i class="fad fa-check-circle me-2 text-primary"></i>
              Have Fun on Event
            </li>
            <li class="py-1">
              <i class="fad fa-check-circle me-2 text-primary"></i>Sales
              compliance
            </li>
            <li class="py-1">
              <i class="fad fa-check-circle me-2 text-primary"></i>
              Showcasing success
            </li>
          </ul>
          <a
            routerLink="/about"
            class="link-with-icon text-decoration-none mt-3 btn btn-primary"
          >
            Learn More
            <i class="fas fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
