<section class="digi-services pb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <div>
            <span class="span-arrow">Best Digital Agency</span>
            <img src="assets/img/arro-right.svg" alt="arrow" />
          </div>
          <h2>
            We have extensive Experience in Social
            <span class="text-orange">Media Marketing</span>
          </h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-6 col-xl-3">
        <div class="digi-service-single mb-4 mb-xl-0">
          <img src="assets/img/icons/d-1.svg" alt="icon" />
          <h3 class="h5">Paid Advertising</h3>
          <p>
            Proactively recaptiualize multidisciplinary manufactured products
            vis-a-vis go forward resource maximizing internal.
          </p>
          <a
            routerLink="/single-service"
            class="read-more-link text-decoration-none"
            >Explore More <i class="far fa-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xl-3">
        <div class="digi-service-single mb-4 mb-xl-0">
          <img src="assets/img/icons/d-2.svg" alt="icon" />
          <h3 class="h5">Content Marketing</h3>
          <p>
            Assertively negotiate adaptive human capital and collaboration and
            idea-sharing rather than extensive communities.
          </p>
          <a
            routerLink="/single-service"
            class="read-more-link text-decoration-none"
            >Explore More <i class="far fa-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xl-3">
        <div class="digi-service-single mb-4 mb-xl-0">
          <img src="assets/img/icons/d-3.svg" alt="icon" />
          <h3 class="h5">Content Marketing</h3>
          <p>
            Globally promote long-term high-impact resources and goal-oriented
            growth strategies. Globally incubate extensible.
          </p>
          <a
            routerLink="/single-service"
            class="read-more-link text-decoration-none"
            >Explore More <i class="far fa-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xl-3">
        <div class="digi-service-single mb-4 mb-xl-0">
          <img src="assets/img/icons/d-4.svg" alt="icon" />
          <h3 class="h5">Youtube Marketing</h3>
          <p>
            Globally utilize emerging networks through team driven models
            develop team driven systems through.
          </p>
          <a
            routerLink="/single-service"
            class="read-more-link text-decoration-none"
            >Explore More <i class="far fa-arrow-right ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
