<app-header></app-header>
<app-hero-two></app-hero-two>
<app-customer-review></app-customer-review>
<app-image-features-two></app-image-features-two>
<app-image-features-three></app-image-features-three>
<app-image-features-four></app-image-features-four>
<app-services-grid [sectionTitle]="true"></app-services-grid>
<app-work-process-two></app-work-process-two>
<app-testimonial-tabs></app-testimonial-tabs>
<app-integration-one></app-integration-one>
<app-latest-news></app-latest-news>
<app-cta-two></app-cta-two>
<app-footer></app-footer>
