<section class="crypto-promo bg-dark-black pt-120 pb-60">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center mb-5">
          <h2>Most Trusted Cryptocurrency Platform</h2>
          <p class="px-5">
            A cryptocurrency is a tradable digital asset or digital form of
            money, built on blockchain technology that only exists online.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="bg-soft-black crypto-promo-box mb-30 mb-lg-0">
          <div class="crypt-promo-icon">
            <i class="far fa-chart-network"></i>
          </div>
          <h4 class="fw-medium">Best Trading Platform</h4>
          <p>
            Cryptocurrency does not exist in physical form like paper money and
            is typically not issued by a central authority.
          </p>
          <a routerLink="/about">
            Explore More <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bg-soft-black crypto-promo-box mb-30 mb-lg-0">
          <div class="crypt-promo-icon">
            <i class="far fa-tags"></i>
          </div>
          <h4 class="fw-medium">Transparent Pricing</h4>
          <p>
            Cryptocurrency does not exist in physical form like paper money and
            is typically not issued by a central authority.
          </p>
          <a routerLink="/about">
            Explore More <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="bg-soft-black crypto-promo-box">
          <div class="crypt-promo-icon">
            <i class="far fa-shield-check"></i>
          </div>
          <h4 class="fw-medium">Trusted Security</h4>
          <p>
            Cryptocurrency does not exist in physical form like paper money and
            is typically not issued by a central authority.
          </p>
          <a routerLink="/about">
            Explore More <i class="far fa-arrow-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
