<section class="image-feature pt-50 pb-120">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-12 order-lg-1">
        <div class="feature-img-content">
          <div class="icon-box rounded-custom bg-primary shadow-sm d-inline-block">
            <i class="fal fa-shield-check fa-2x text-white"></i>
          </div>
          <h2>Tecnologías de Backend</h2>
          <p>
            Nuestro equipo multi-disciplinario de mas de 5 años de experiencia
            tambien se desempeña en tecnologías de Backend tales como:.
          </p>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Java
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Spring Boot
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Spring Data JPA
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Maven / Gradle
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              MySQL / SQLServer
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              API REST
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Pruebas Unitarias
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              SonarQube
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Microservicios
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              DevOps
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-12 order-lg-0">
        <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
          <img
            src="./assets/img/screen/widget-12.png"
            class="img-fluid"
            alt="feature-image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
