<section class="ptb-60 bg-dark-black">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title text-center mb-5">
          <h2 class="mb-4">How it All Started</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some form, by injected
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="crypto-timeline bg-soft-black mb-4 mb-lg-0">
          <div class="crypto-timeline-icon">
            <img src="assets/img/Padlock.svg" alt="Padlock" />
          </div>
          <p>
            In publishing and graphic design, Lorem used to demonstrate the
            visual form of relying on meaningful content.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="crypto-timeline bg-soft-black mb-4 mb-lg-0">
          <div class="crypto-timeline-icon">
            <img src="assets/img/star.svg" alt="Padlock" />
          </div>
          <p>
            In publishing and graphic design, Lorem used to demonstrate the
            visual form of relying on meaningful content.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="crypto-timeline bg-soft-black mb-4 mb-lg-0">
          <div class="crypto-timeline-icon">
            <img src="assets/img/bitcoin.svg" alt="Padlock" />
          </div>
          <p>
            In publishing and graphic design, Lorem used to demonstrate the
            visual form of relying on meaningful content.
          </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="crypto-timeline bg-soft-black">
          <div class="crypto-timeline-icon">
            <img src="assets/img/glowing-star.svg" alt="Padlock" />
          </div>
          <p>
            In publishing and graphic design, Lorem used to demonstrate the
            visual form of relying on meaningful content.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
