<section class="ev-cta bg-light-blue">
  <div class="container">
    <div
      style="
        background: url('assets/img/ev-cta-bg.jpg') no-repeat center center/
          cover;
      "
      class="rounded-2 ptb-100"
    >
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8">
          <div class="text-center">
            <span class="fw-bold text-pink mb-2 d-inline-block"
              >Let's do it hurry</span
            >
            <h2 class="text-white mb-4">
              Haven’t Booked Your Seat Yet? Get Ticket Now!
            </h2>
            <a routerLink="/contact-us" class="btn btn-primary bg-pink">
              Purchase Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
