<section class="crypto-team bg-dark-black ptb-60">
  <div class="container">
    <div class="row align-items-center mb-30">
      <div class="col-lg-5 col-md-8">
        <div class="section-title">
          <h2 class="text-white mb-4">Our Motivated Team</h2>
          <p class="">
            If you use this site regularly and would like to help keep the site
            on the Internet, please consider donating a small.
          </p>
        </div>
      </div>
      <div class="col-lg-7 col-md-4">
        <div class="team-btn text-lg-end">
          <a
            routerLink="/about"
            class="btn btn-primary rounded-pill text-decoration-none"
          >
            More Member
          </a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-crypto-team bg-soft-black mb-30 mb-lg-0">
          <img
            src="assets/img/team/c-team-1.jpg"
            alt="team member"
            class="img-fluid"
          />
          <div class="crypto-team-info pt-4 pb-1">
            <h4 class="text-white h5">Leslie Alexander</h4>
            <p class="m-0 py-1">Crypto Director</p>
            <ul class="crypto-team-social list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Linkedin </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Dribble </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Twitter </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-crypto-team bg-soft-black mb-30 mb-lg-0">
          <img
            src="assets/img/team/c-team-2.jpg"
            alt="team member"
            class="img-fluid"
          />
          <div class="crypto-team-info pt-4 pb-1">
            <h4 class="text-white h5">John M. Smith</h4>
            <p class="m-0 py-1">Crypto Director</p>
            <ul class="crypto-team-social list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Linkedin </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Dribble </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Twitter </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-crypto-team bg-soft-black mb-30 mb-lg-0">
          <img
            src="assets/img/team/c-team-3.jpg"
            alt="team member"
            class="img-fluid"
          />
          <div class="crypto-team-info pt-4 pb-1">
            <h4 class="text-white h5">Kenneth L. Wood</h4>
            <p class="m-0 py-1">Crypto Director</p>
            <ul class="crypto-team-social list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Linkedin </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Dribble </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Twitter </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12">
        <div class="single-crypto-team bg-soft-black mb-30 mb-lg-0">
          <img
            src="assets/img/team/c-team-4.jpg"
            alt="team member"
            class="img-fluid"
          />
          <div class="crypto-team-info pt-4 pb-1">
            <h4 class="text-white h5">William R. Ross</h4>
            <p class="m-0 py-1">Crypto Director</p>
            <ul class="crypto-team-social list-unstyled list-inline">
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Linkedin </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Dribble </a>
              </li>
              <li class="list-inline-item">
                <a href="#" class="text-decoration-none"> Twitter </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
