<div class="hero-twelve">
  <swiper [config]="config">
    <ng-template swiperSlide>
      <div
        class="slider-one slider"
        style="
          background: url('assets/img/slider/sl-1-1.png') no-repeat center
            center / cover;
        "
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero-content">
                <h1
                  class="fw-bold display-5 text-white mb-4"
                  data-aos="fade-up"
                >
                  Reliable Hosting For Game
                  <span class="gr-text ms-lg-2">Solutions.</span>
                </h1>
                <p class="lead text-off-white m-0">
                  Give your Website the speed, security, and uptime it deserves
                  and become part of the fastest Web Hosting.
                </p>
                <a
                  routerLink="/request-for-demo"
                  class="btn-gradient mt-4 link-with-icon"
                >
                  Order Now <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div></div
    ></ng-template>
    <ng-template swiperSlide
      ><div
        class="slider-one slider"
        style="
          background: url('assets/img/slider/sl-2-2.png') no-repeat center
            center / cover;
        "
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero-content">
                <h1
                  class="fw-bold display-5 text-white mb-4"
                  data-aos="fade-up"
                >
                  Reliable Hosting For Game
                  <span class="gr-text ms-lg-2">Solutions.</span>
                </h1>
                <p class="lead text-off-white m-0">
                  Give your Website the speed, security, and uptime it deserves
                  and become part of the fastest Web Hosting.
                </p>
                <a
                  routerLink="/request-for-demo"
                  class="btn-gradient mt-4 link-with-icon"
                >
                  Order Now <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div
        class="slider-one slider"
        style="
          background: url('assets/img/slider/sl-1-1.png') no-repeat center
            center / cover;
        "
      >
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero-content">
                <h1
                  class="fw-bold display-5 text-white mb-4"
                  data-aos="fade-up"
                >
                  Reliable Hosting For Game
                  <span class="gr-text ms-lg-2">Solutions.</span>
                </h1>
                <p class="lead text-off-white m-0">
                  Give your Website the speed, security, and uptime it deserves
                  and become part of the fastest Web Hosting.
                </p>
                <a
                  routerLink="/request-for-demo"
                  class="btn-gradient mt-4 link-with-icon"
                >
                  Order Now <i class="far fa-arrow-right"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </swiper>
</div>
