<section class="app-two-feature-three bg-light ptb-120">
  <div class="container">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-5 col-xl-5 col-sm-12">
        <div class="app-two-feature-three-left">
          <div class="app-content-feature-wrap">
            <h2>We provide Quality works for developed App</h2>
            <p>
              Car boot absolutely bladdered posh burke the wireless mush some
              dodgy chav you mug. Energistically conceptualize scalable quality
              vectors through wireless channels. .
            </p>
          </div>
          <div class="accordion faq-accordion mt-5" id="accordionExample">
            <div class="accordion-item active border-0">
              <h5 class="accordion-header" id="faq-1">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-1"
                  aria-expanded="true"
                >
                  <i class="far fa-bell pe-3"></i> How does back pricing work?
                </button>
              </h5>
              <div
                id="collapse-1"
                class="accordioncollapse collapse show"
                aria-labelledby="faq-1"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Dramatically formulate cross-unit products with web-enabled
                  action items. Quickly maximize extensible methods of
                  empowerment.
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h5 class="accordion-header" id="faq-2">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-2"
                  aria-expanded="false"
                >
                  <i class="far fa-command pe-3"></i>
                  Can you show me an example?
                </button>
              </h5>
              <div
                id="collapse-2"
                class="accordion-collapse collapse"
                aria-labelledby="faq-2"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Continually innovate technically sound internal or "organic"
                  sources with market positioning content. Completely drive
                  optimal intellectual.
                </div>
              </div>
            </div>
            <div class="accordion-item border-0">
              <h5 class="accordion-header" id="faq-3">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-3"
                  aria-expanded="false"
                >
                  <i class="fas fa-link pe-3"></i>
                  How do I processing I need?
                </button>
              </h5>
              <div
                id="collapse-3"
                class="accordion-collapse collapse"
                aria-labelledby="faq-3"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  Phosfluorescently deliver cooperative testing procedures after
                  integrated communities. Dramatically simplify
                  resource-leveling models with unique.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-xl-6 col-sm-12">
        <div
          class="app-two-feature-three-img position-relative text-center mt-5 mt-lg-0"
        >
          <div class="feature-three-shape">
            <img
              src="assets/img/app-two-feature-blob-shape.png"
              alt="app screen"
              class="feature-three-blob img-fluid"
            />
          </div>
          <img
            src="assets/img/app-two-feature-phone-without-shape.png"
            alt="app screen"
            class="position-relative z-5"
          />
          <div class="img-peice d-none d-lg-block">
            <img
              src="assets/img/app-two-file.png"
              alt="app screen"
              class="img-one position-absolute custom-shadow"
            />
            <img
              src="assets/img/app-two-video-shape.png"
              alt="app screen"
              class="img-two position-absolute custom-shadow"
            />
            <img
              src="assets/img/app-two-chart.png"
              alt="app screen"
              class="img-three position-absolute custom-shadow"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
