<app-header></app-header>
<app-hero-five></app-hero-five>
<app-promo-four></app-promo-four>
<app-feature-tab></app-feature-tab>
<app-image-icon-features></app-image-icon-features>
<app-why-choose-us-list></app-why-choose-us-list>
<app-cta-three></app-cta-three>
<app-work-process-four></app-work-process-four>
<app-testimonial-slider [light]="true"></app-testimonial-slider>
<app-subscribe-cta></app-subscribe-cta>
<app-integration-three></app-integration-three>
<app-blog-column></app-blog-column>
<app-footer-with-bg></app-footer-with-bg>
