<section class="crypto-customer-counter bg-dark-black ptb-60">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="crypto-customer-counter">
          <div class="counter-content section-title mb-30">
            <h2 class="mb-4">
              Our Best Users Are all over the Worldwide Coverage
            </h2>
            <p>
              You might wonder why a designer would choose to use Morem text
              Paragraphs Lorem Ipsum available but the majority
            </p>
            <p>
              embarrassing hidden in the middle of text. All the Lorem Ipsum
              generators on the Internet tend to repeat predefined chunks as
              necessary, making this the first true generator on the Internet.
            </p>
          </div>
          <div class="counter-box mb-5 mb-lg-0">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <div class="single-counter-box bg-soft-black mb-3 mb-md-0">
                  <h5 class="h4">150k+</h5>
                  <span>Pepole who Have Joined </span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="single-counter-box bg-soft-black mb-3 mb-md-0">
                  <h5 class="h4">45k+</h5>
                  <span>Pepole who Have Joined </span>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="single-counter-box bg-soft-black">
                  <h5 class="h4">16k+</h5>
                  <span>Pepole Joined Altrawallet </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="maps-img text-lg-center">
          <img src="assets/img/maps.png" class="img-fluid" alt="Maps" />
        </div>
      </div>
    </div>
  </div>
</section>
