<section class="counter-with-video pt-80 pb-120" id="cyber-about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="cyber-about-img text-center mb-30 mb-lg-0">
          <img src="assets/img/about_cyber.jpg" alt="VR" class="img-fluid" />
          <div class="row g-0">
            <div class="col-lg-5">
              <div class="sheild-img">
                <img
                  src="assets/img/about2.png"
                  alt="Sheild"
                  class="img-fluid d-none d-lg-block"
                />
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="pe-2">
                <div class="cyber-about-count-box d-md-flex bg-white p-4 mt-3">
                  <div class="pe-3">
                    <h2>20+</h2>
                  </div>
                  <div>
                    <h5 class="h6">Years Experience</h5>
                    <p class="mb-0">We Just Big Achived</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="pt-5">
          <div class="section-heading mb-5">
            <h5 class="h6 text-primary">About Quiety</h5>
            <h2>We’re Advanced Cyber Security Provider</h2>
            <p>
              Amet minim mollit non deserunt ullamco est sit aliqua dolor do
              amet Velit officia consequat duis enim velit mollit.
            </p>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="bg-white cyber-about-box mb-30 mb-lg-0">
                <div class="cyber-about-icon">
                  <i class="far fa-hand-receiving"></i>
                </div>
                <h5 class="h-6">Success Project</h5>
                <p>
                  If you use this is regularly keephosting bandwidth bill
                  nostrud amet.
                </p>
                <a routerLink="/about" class="text-decoration-none text-dark"
                  >Explore more</a
                >
              </div>
            </div>
            <div class="col-lg-6">
              <div class="bg-white cyber-about-box">
                <div class="cyber-about-icon">
                  <i class="far fa-users"></i>
                </div>
                <h5 class="h-6">Team Consultancy</h5>
                <p>
                  If you use this si regularly keephosting bandwidth bill
                  nostrud amet.
                </p>
                <a routerLink="/about" class="text-decoration-none text-dark"
                  >Explore more</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
