<section
  class="cyber-testimonial pt-100"
  style="background: url('assets/img/map.png') no-repeat center center / cover"
>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-10">
        <div class="cyber-testimonial pe-5 mb-30 mb-lg-0">
          <h5 class="h6 text-primary">Testimonial</h5>
          <h2 class="">What they Say about Our Services.</h2>
          <p>
            If you use this site regularly and would like to help keep the site
            pay for the hosting and bandwidth bill
          </p>
          <div class="action-btn mt-5">
            <a routerLink="/request-for-demo" class="btn btn-primary me-3">
              More Testimonial</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <swiper [config]="config">
          <ng-template swiperSlide>
            <div class="cyber-single-testimonial">
              <div class="cyber-t-q mb-4">
                <img src="assets/img/quoate.png" alt="quoate" />
              </div>
              <p class="mb-30">
                If you use this site regularly and would like to help keep the
                site on the hosting and bandwidth bill. If you use this site
                regularly and would like to help keep the site on the Internet,
                please consider donating a small sum to help pay for the hosting
                and bandwidth bill.
              </p>
              <div class="cyber-auth-info d-flex">
                <div class="pe-3 cyber-testimonial-author-img">
                  <img
                    src="assets/img/testimonial/app-testimonial-3.png"
                    alt="auth photo"
                    class=""
                  />
                </div>
                <div class="cyber-testimonial-author">
                  <h5 class="mb-0 h6">Neaj Morshed</h5>
                  <span>FrontEnd Developer.</span>
                </div>
              </div>
            </div></ng-template
          >
          <ng-template swiperSlide>
            <div class="cyber-single-testimonial">
              <div class="cyber-t-q mb-4">
                <img src="assets/img/quoate.png" alt="quoate" />
              </div>
              <p class="mb-30">
                If you use this site regularly and would like to help keep the
                site on the hosting and bandwidth bill. If you use this site
                regularly and would like to help keep the site on the Internet,
                please consider donating a small sum to help pay for the hosting
                and bandwidth bill.
              </p>
              <div class="cyber-auth-info d-flex">
                <div class="pe-3 cyber-testimonial-author-img">
                  <img
                    src="assets/img/testimonial/app-testimonial-1.png"
                    alt="auth photo"
                  />
                </div>
                <div class="cyber-testimonial-author">
                  <h5 class="mb-0 h6">The Good</h5>
                  <span>CEO, Founder.</span>
                </div>
              </div>
            </div></ng-template
          >
          <ng-template swiperSlide>
            <div class="cyber-single-testimonial">
              <div class="cyber-t-q mb-4">
                <img src="assets/img/quoate.png" alt="quoate" />
              </div>
              <p class="mb-30">
                If you use this site regularly and would like to help keep the
                site on the hosting and bandwidth bill. If you use this site
                regularly and would like to help keep the site on the Internet,
                please consider donating a small sum to help pay for the hosting
                and bandwidth bill.
              </p>
              <div class="cyber-auth-info d-flex">
                <div class="pe-3 cyber-testimonial-author-img">
                  <img
                    src="assets/img/testimonial/app-testimonial-2.png"
                    alt="auth photo"
                  />
                </div>
                <div class="cyber-testimonial-author">
                  <h5 class="mb-0 h6">Kate Winslate</h5>
                  <span>CEO, Founder.</span>
                </div>
              </div>
            </div>
          </ng-template>
          <div class="swiper-pagination"></div>
        </swiper>
      </div>
    </div>
  </div>
</section>
