<section class="speaker-list bg-light-blue pt-120 pb-80">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="text-center mb-5">
          <h2>Meet the Speakers from this Quiety</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-1.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">Frankie Thomas</h5>
          <span class="small fw-bold">Graphics Designer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-2.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">Frankie Thomas</h5>
          <span class="small fw-bold">Graphics Designer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-3.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">Steven Marks</h5>
          <span class="small fw-bold">Web Developer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-4.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">Marcus Schott</h5>
          <span class="small fw-bold">Digital Marketer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-5.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">Antonio Barnes</h5>
          <span class="small fw-bold">Graphics Designer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-6.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">Daniel Armstrong</h5>
          <span class="small fw-bold">Graphics Designer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-1.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">William Lipscomb</h5>
          <span class="small fw-bold">Graphics Designer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="single-speaker mb-4">
          <img
            src="assets/img/event/speakers/sp-1.png"
            alt="speaker"
            width="100"
            class="mb-3"
          />
          <h5 class="h6 m-0">George Coburn</h5>
          <span class="small fw-bold">Graphics Designer</span>
          <div class="sp-social mt-3">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
