<section
  class="game-faq ptb-100"
  style="background: url('assets/img/faq-bg.png') no-repeat center center/cover"
>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-5">
          <h2 class="mb-3 text-white">Our Most Common Question.</h2>
          <p class="m-0 text-off-white">
            Whether hosting community forums, an online store, or even a blog,
            this platform is built to meet and surpass expectations.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="game-faq-img mb-5 mb-lg-0 text-center text-lg-start">
          <img
            src="assets/img/questions.png"
            alt="illustration"
            class="img-fluid"
          />
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="game-accordion">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button
                  class="accordion-button collapsed shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseOne"
                  aria-expanded="false"
                  aria-controls="flush-collapseOne"
                >
                  Are There Any Benefits Other Than Money?
                </button>
              </h2>
              <div
                id="flush-collapseOne"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <p class="text-off-white m-0">
                    Multiple layers of security firewalls ensure the safety of
                    our entire web hosting environment. Thanks to the
                    innovations in the AI field, our security services will
                    adapt to every type of malicious attack! From Opensource
                    applications to
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingTwo">
                <button
                  class="accordion-button collapsed shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseTwo"
                  aria-expanded="false"
                  aria-controls="flush-collapseTwo"
                >
                  Test Our Amazing Control Panel?
                </button>
              </h2>
              <div
                id="flush-collapseTwo"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <p class="text-off-white m-0">
                    Multiple layers of security firewalls ensure the safety of
                    our entire web hosting environment. Thanks to the
                    innovations in the AI field, our security services will
                    adapt to every type of malicious attack! From Opensource
                    applications to
                  </p>
                </div>
              </div>
            </div>

            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingThree">
                <button
                  class="accordion-button shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseThree"
                  aria-expanded="false"
                  aria-controls="flush-collapseThree"
                >
                  What is a Challenge & How Do I Join One?
                </button>
              </h2>
              <div
                id="flush-collapseThree"
                class="accordion-collapse collapse show"
                aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <p class="text-off-white m-0">
                    Multiple layers of security firewalls ensure the safety of
                    our entire web hosting environment. Thanks to the
                    innovations in the AI field, our security services will
                    adapt to every type of malicious attack! From Opensource
                    applications to
                  </p>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingFour">
                <button
                  class="accordion-button collapsed shadow-none"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#flush-collapseFour"
                  aria-expanded="false"
                  aria-controls="flush-collapseFour"
                >
                  Who Do I Commpelet Against in Challeges?
                </button>
              </h2>
              <div
                id="flush-collapseFour"
                class="accordion-collapse collapse"
                aria-labelledby="flush-headingFour"
                data-bs-parent="#accordionFlushExample"
              >
                <div class="accordion-body">
                  <p class="text-off-white m-0">
                    Multiple layers of security firewalls ensure the safety of
                    our entire web hosting environment. Thanks to the
                    innovations in the AI field, our security services will
                    adapt to every type of malicious attack! From Opensource
                    applications to
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
