<section class="digi-news-letter">
  <div class="container">
    <div class="bg-dark text-light rounded-custom p-4 p-md-5 p-lg-5">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="digi-newsletter">
            <div>
              <span class="span-arrow text-pink">Best Yout website</span>
              <img src="assets/img/arro-right.svg" alt="arrow" />
            </div>
            <h2>Test your Website for Free with Quiety</h2>
            <p>
              Intrinsicly cultivate user-centric collaboration and idea-sharing
              after value-added processes repurpose unique models and global
              schemas.
            </p>
            <form class="mt-4">
              <div class="position-relative digi-news-form">
                <input
                  type="text"
                  class="form-control"
                  placeholder="Website Url"
                />
                <button class="digi-news-button">Analysis Webiste</button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="dg-news-img text-end">
            <img
              src="assets/img/d-pie.png"
              class="img-fluid text-end"
              alt="pie"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
