<section id="services" class="why-choose-us ptb-100">
  <div class="container">
    <div class="row justify-content-lg-between align-items-center">
      <div class="col-lg-5 col-12">
        <div class="why-choose-content">
          <div
            class="icon-box rounded-custom bg-primary shadow-sm d-inline-block"
          >
            <i class="fal fa-shield-check fa-2x text-white"></i>
          </div>
          <h2>Tecnologías de Frontend</h2>
          <p>
            Contamos con talento especializado y un equipo capacitado que se
            desempeña en diferentes tecnologías de Frontend tales como:
          </p>
          <ul class="list-unstyled d-flex flex-wrap list-two-col mt-4 mb-4">
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              HTML
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              CSS
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Javascript
            </li>
            <li class="py-1">
              <i class="fa-brands fa-get-pocket me-2 text-primary"></i>
              Angular
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="feature-img-holder mt-4 mt-lg-0 mt-xl-0">
          <img
            src="./assets/img/screen/widget-11.png"
            class="img-fluid"
            alt="feature-image"
          />
        </div>
      </div>
    </div>
  </div>
</section>
