<section class="payment-brand-logo pt-120 pb-80 bg-white-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center mb-4">
          <h5>
            Join this Comapnies Making
            <span class="gr-text">Business Flow</span>
          </h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <swiper [config]="config" class="payment-brand-logo">
          <ng-template swiperSlide class="logo-grid-item">
            <img
              src="assets/img/brand-logo/tb-1.png"
              class="img-fluid"
              alt="logo"
            />
          </ng-template>
          <ng-template swiperSlide class="logo-grid-item">
            <img
              src="assets/img/brand-logo/tb-2.png"
              class="img-fluid"
              alt="logo"
            />
          </ng-template>
          <ng-template swiperSlide class="logo-grid-item">
            <img
              src="assets/img/brand-logo/tb-3.png"
              class="img-fluid"
              alt="logo"
            />
          </ng-template>
          <ng-template swiperSlide class="logo-grid-item">
            <img
              src="assets/img/brand-logo/tb-4.png"
              class="img-fluid"
              alt="logo"
            />
          </ng-template>
          <ng-template swiperSlide class="logo-grid-item">
            <img
              src="assets/img/brand-logo/tb-5.png"
              class="img-fluid"
              alt="logo"
            />
          </ng-template>
        </swiper>
      </div>
    </div>
  </div>
</section>
