<section class="home-blog-section pt-60 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6 col-md-12">
        <div class="section-heading text-center">
          <h4 class="text-primary h5">Recent Post</h4>
          <h2>Read our News & Articles</h2>
          <p>
            Assertively maximize cost effective methods of iterate team driven
            manufactured products through equity invested via customized
            benefits.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <swiper [config]="config" class="cyber-blog">
        <ng-template swiperSlide>
          <div class="cyber-single-article mb-4 mb-lg-0 p-3 border">
            <a routerLink="/news-details" class="cyber-article-img">
              <img
                src="assets/img/blog/c-blog-1.jpg"
                alt="article"
                class="img-fluid"
              />
            </a>
            <div class="article-content">
              <div class="article-info d-flex py-3">
                <div class="pe-3">
                  <a href="#" class="text-decoration-none">
                    <i class="fas fa-user pe-2"></i>
                    <span class="text-secondary">Admin</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="text-decoration-none">
                    <i class="fas fa-calendar pe-2"></i>
                    <span class="text-secondary">October 13, 2022</span>
                  </a>
                </div>
              </div>
              <a routerLink="/news-details" class="text-decoration-none">
                <h2 class="h5 article-title limit-2-line-text">
                  The Steps to GainingPrivileged Access Security
                </h2>
              </a>
              <a
                routerLink="/news-details"
                class="link-with-icon text-decoration-none"
                >Read more <i class="far fa-arrow-right"></i
              ></a>
            </div></div
        ></ng-template>
        <ng-template swiperSlide
          ><div class="cyber-single-article mb-4 mb-lg-0 p-3 border">
            <a routerLink="/news-details" class="cyber-article-img">
              <img
                src="assets/img/blog/c-blog-2.jpg"
                alt="article"
                class="img-fluid"
              />
            </a>
            <div class="article-content">
              <div class="article-info d-flex py-3">
                <div class="pe-3">
                  <a href="#" class="text-decoration-none">
                    <i class="fas fa-user pe-2"></i>
                    <span class="text-secondary">Admin</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="text-decoration-none">
                    <i class="fas fa-calendar pe-2"></i>
                    <span class="text-secondary">October 13, 2022</span>
                  </a>
                </div>
              </div>
              <a routerLink="/news-details" class="text-decoration-none">
                <h2 class="h5 article-title limit-2-line-text">
                  Protect Your Workplace FromCyber Attacks
                </h2>
              </a>

              <a
                routerLink="/news-details"
                class="link-with-icon text-decoration-none"
                >Read more <i class="far fa-arrow-right"></i
              ></a>
            </div></div
        ></ng-template>
        <ng-template swiperSlide
          ><div class="cyber-single-article mb-4 mb-lg-0 p-3 border">
            <a routerLink="/news-details" class="cyber-article-img">
              <img
                src="assets/img/blog/c-blog-3.jpg"
                alt="article"
                class="img-fluid"
              />
            </a>
            <div class="article-content">
              <div class="article-info d-flex py-3">
                <div class="pe-3">
                  <a href="#" class="text-decoration-none">
                    <i class="fas fa-user pe-2"></i>
                    <span class="text-secondary">Admin</span>
                  </a>
                </div>
                <div>
                  <a href="#" class="text-decoration-none">
                    <i class="fas fa-calendar pe-2"></i>
                    <span class="text-secondary">October 13, 2022</span>
                  </a>
                </div>
              </div>
              <a routerLink="/news-details" class="text-decoration-none">
                <h2 class="h5 article-title limit-2-line-text">
                  The Steps to GainingPrivileged Access Security
                </h2>
              </a>
              <a
                routerLink="/news-details"
                class="link-with-icon text-decoration-none"
                >Read more <i class="far fa-arrow-right"></i
              ></a>
            </div></div
        ></ng-template>
      </swiper>
    </div>
  </div>
</section>
