<section class="cyber-cta pb-60">
  <div class="container">
    <div
      class="cyber-cta-bg p-5 rounded-custom"
      style="
        background: url('assets/img/cb_call_to_action.png') no-repeat center
          center / cover;
      "
    >
      <div class="row">
        <div class="col-lg-9 col-md-9">
          <div class="cyber-cta-info position-relative">
            <div class="">
              <h2 class="text-white">Are You Ready? Book Appoinment Now!</h2>
              <p class="lead text-white mb-0">
                Get Your Quite or Call : (080) 5388-273-284
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="cyber-cta-btn">
            <a routerLink="/integrations" class="mt-3 btn btn-primary me-auto"
              >Making Appoinment <i class="far fa-arrow-right"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
