<section class="cyber-features pt-100 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="section-heading text-center mb-5">
          <h5 class="h6 text-primary">Service</h5>
          <h2>High Quality Trusted Cyber Security solution</h2>
          <p>
            Uniquely promote adaptive quality vectors rather than stand-alone
            e-markets. pontificate alternative architectures whereas iterate
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-list"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Disaster Planning</h3>
            <p>
              Randomised words which don't look even passage of Lorem Ipsum. You
              need to be Lorem Ipsum randomised even .
            </p>
          </div>
          <a
            routerLink="/single-service"
            class="link-with-icon text-decoration-none"
            >Explore More <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-cloud"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Cloud Security</h3>
            <p>
              Randomised words which don't look even passage of Lorem Ipsum. You
              need to be Lorem Ipsum randomised even .
            </p>
          </div>
          <a
            routerLink="/single-service"
            class="link-with-icon text-decoration-none"
            >Explore More <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-database"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Database Security</h3>
            <p>
              Randomised words which don't look even passage of Lorem Ipsum. You
              need to be Lorem Ipsum randomised even .
            </p>
          </div>
          <a
            routerLink="/single-service"
            class="link-with-icon text-decoration-none"
            >Explore More <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-door-closed"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Locker Security</h3>
            <p>
              Randomised words which don't look even passage of Lorem Ipsum. You
              need to be Lorem Ipsum randomised even .
            </p>
          </div>
          <a
            routerLink="/single-service"
            class="link-with-icon text-decoration-none"
            >Explore More <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-shield-check"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Data Security</h3>
            <p>
              Randomised words which don't look even passage of Lorem Ipsum. You
              need to be Lorem Ipsum randomised even .
            </p>
          </div>
          <a
            routerLink="/single-service"
            class="link-with-icon text-decoration-none"
            >Explore More <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-single-service bg-white rounded-custom mb-30">
          <div
            class="feature-icon pb-5 rounded bg-primary-soft text-primary mb-4"
          >
            <i class="far fa-server"></i>
          </div>
          <div class="cyber feature-info-wrap">
            <h3 class="h5">Web Security</h3>
            <p>
              Randomised words which don't look even passage of Lorem Ipsum. You
              need to be Lorem Ipsum randomised even .
            </p>
          </div>
          <a
            routerLink="/single-service"
            class="link-with-icon text-decoration-none"
            >Explore More <i class="far fa-arrow-right"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</section>
