<section class="cyber-price ptb-120 bg-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="section-heading text-center mb-5">
          <h5 class="h6 text-primary">Pricing Table</h5>
          <h2>Affordable Price Plans</h2>
          <p>
            There are many variations of passages of Lorem Ipsum available, but
            the majority have suffered alteration in some.
          </p>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-lg-4">
        <div class="cyber-price-chart">
          <div
            class="position-relative single-pricing-wrap rounded bg-white custom-shadow p-5 mb-4 mb-lg-0"
          >
            <div class="pricing-header mb-32">
              <h4 class="display-6 fw-semi-bold">$29/M</h4>
              <span>Free Plan</span>
            </div>
            <div class="pricing-info mb-4">
              <ul class="pricing-feature-list list-unstyled">
                <li><i class="far fa-check text-success me-2"></i>1 Team</li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Installed Agent
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Real-Time Feedback
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Video Dedicated Support
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Attacked Targets Per Month
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Team Collaboration Tools
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Attacked Targets Per Month
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Automated Updated Features
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  24/7 Life time Support
                </li>
              </ul>
            </div>
            <a
              routerLink="/request-for-demo"
              class="btn btn-outline-primary mt-2"
              >Get Started Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-price-chart">
          <div
            class="position-relative single-pricing-wrap rounded bg-gradient text-white p-5 mb-4 mb-lg-0"
          >
            <div class="pricing-header mb-32">
              <h4 class="display-6 fw-semi-bold">$49/M</h4>
              <span class="text-white">Free Plan</span>
            </div>
            <div class="pricing-info mb-4">
              <ul class="pricing-feature-list list-unstyled">
                <li><i class="far fa-check text-success me-2"></i>1 Team</li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Installed Agent
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Real-Time Feedback
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Video Dedicated Support
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Attacked Targets Per Month
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Team Collaboration Tools
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Attacked Targets Per Month
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Automated Updated Features
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  24/7 Life time Support
                </li>
              </ul>
            </div>
            <a routerLink="/request-for-demo" class="btn btn-primary mt-2"
              >Get Started Now</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="cyber-price-chart">
          <div
            class="position-relative single-pricing-wrap rounded bg-white custom-shadow p-5 mb-4 mb-lg-0"
          >
            <div class="pricing-header mb-32">
              <h4 class="display-6 fw-semi-bold">$29/M</h4>
              <span>Free Plan</span>
            </div>
            <div class="pricing-info mb-4">
              <ul class="pricing-feature-list list-unstyled">
                <li><i class="far fa-check text-success me-2"></i>1 Team</li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Installed Agent
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Real-Time Feedback
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Video Dedicated Support
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Attacked Targets Per Month
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Team Collaboration Tools
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  1 Attacked Targets Per Month
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  Automated Updated Features
                </li>
                <li>
                  <i class="far fa-check text-success me-2"></i>
                  24/7 Life time Support
                </li>
              </ul>
            </div>
            <a
              routerLink="/request-for-demo"
              class="btn btn-outline-primary mt-2"
              >Get Started Now</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
