<section class="ptb-120 overflow-hidden position-relative">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="section-title mb-5 text-center">
          <h2 class="text-white">An Amazing Control Panel</h2>
          <p class="text-off-white">
            Give your Website the speed, security, and uptime it deserves and
            become part of the fastest Web Hosting.
          </p>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12 col-sm-12">
        <div class="game-features mb-5 mb-lg-0">
          <div class="game-feature d-flex align-items-center mb-4">
            <div class="game-feature-icon flex-shrink-0">
              <img src="assets/img/ti1.png" class="img-fluid" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="text-white">Easy Configuration</h5>
              <p class="m-0 text-off-white">
                Drop down menus and elegant sliders configuring server a
                pleasure.
              </p>
            </div>
          </div>
          <div class="game-feature d-flex align-items-center mb-4">
            <div class="game-feature-icon flex-shrink-0">
              <img src="assets/img/ti2.png" class="img-fluid" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="text-white">Hostim For Experts</h5>
              <p class="m-0 text-off-white">
                Experts can utilize our text editors and full FTP access to if
                they choose.
              </p>
            </div>
          </div>
          <div class="game-feature d-flex align-items-center">
            <div class="game-feature-icon flex-shrink-0">
              <img src="assets/img/ti3.png" class="img-fluid" alt="" />
            </div>
            <div class="ms-3">
              <h5 class="text-white">Best Sub Users</h5>
              <p class="m-0 text-off-white">
                Experts can utilize our text editors and full FTP access to if
                they choose.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-12 col-sm-12">
        <div class="game-feature-img position-relative">
          <img
            src="assets/img/ti-img.png"
            class="img-fluid position-relative z-5"
            alt="laptop"
          />
          <img
            src="assets/img/ellipse.png"
            class="feature-ellipse"
            alt="ellipse"
          />
        </div>
      </div>
    </div>
  </div>
  <img
    src="assets/img/big-circle.png"
    class="big-circle img-fluid"
    alt="circle"
  />
</section>
