<footer class="game-footer game-footer-bg">
  <div class="container">
    <div class="row ptb-120">
      <div class="col-lg-6 col-md-6">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="game-footer-nav mb-4">
              <h5 class="text-white position-relative mb-3">Others Services</h5>
              <ul class="list-unstyled">
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Wordpress Hosting</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Shared Cloud Hosting</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >VPS Cloud Hosting</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Dedicated CPU Servers</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Domains Search</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="game-footer-nav mb-4">
              <h5 class="text-white position-relative mb-3">Game Servers</h5>
              <ul class="list-unstyled">
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Game Servers</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Battlefield 4 Servers</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Minecraft Servers</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >DayZ Servers</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Battlefield 3 Hosting</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="game-footer-nav mb-4">
              <h5 class="text-white position-relative mb-3">Others Services</h5>
              <ul class="list-unstyled">
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Wordpress Hosting</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Shared Cloud Hosting</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >VPS Cloud Hosting</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Dedicated CPU Servers</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Domains Search</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-6 col-md-6">
            <div class="game-footer-nav mb-4">
              <h5 class="text-white position-relative mb-3">
                Legal Information
              </h5>
              <ul class="list-unstyled">
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none">
                    Nominet Terms</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >UK Service Level Commitment</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Complaints Procedure</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >WooCommerce Tutorials</a
                  >
                </li>
                <li class="py-1">
                  <a routerLink="/" class="text-decoration-none"
                    >Prestashop Tutorials</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6">
        <div class="game-footer-right">
          <div class="game-footer-newsletter mb-5">
            <h3 class="text-white">Sign Up For Newsletter</h3>
            <p class="m-0 py-3">
              Stay up to date with our latest news and products.
            </p>
            <form action="#">
              <div class="position-relative g-news-letter">
                <input
                  type="text"
                  class="form-control shadow-none"
                  placeholder="Type your email"
                />
                <button>Subscribe</button>
              </div>
            </form>
          </div>
          <div class="game-award mb-4">
            <h5 class="text-white mb-4">Quiety Best Awards</h5>
            <ul class="list-unstyled d-flex">
              <li class="me-4">
                <img
                  src="assets/img/award-1.png"
                  class="img-fluid"
                  alt="award"
                />
              </li>
              <li class="me-4">
                <img
                  src="assets/img/award-2.png"
                  class="img-fluid"
                  alt="award"
                />
              </li>
              <li>
                <img
                  src="assets/img/award-3.png"
                  class="img-fluid"
                  alt="award"
                />
              </li>
            </ul>
          </div>
          <div class="game-payment">
            <h5 class="text-white mb-4">We Accepted</h5>
            <img src="assets/img/payment.png" class="img-fluid" alt="payment" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-black">
    <div class="container">
      <div class="row justify-content-between py-3">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="c-left mb-4 mb-md-0">
            <p class="text-white m-0">
              Copyright 2022 Themestags. All Rights reserved
            </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="c-right text-md-end">
            <a routerLink="/" class="text-decoration-none text-white pe-4"
              >Privacy Policy</a
            >
            <a routerLink="/" class="text-decoration-none text-white"
              >Terms & Conditons</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
