<section class="image-feature pt-60 pb-120">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-5 col-12">
        <div class="feature-img-content">
          <div class="section-heading" data-aos="fade-up">
            <h2>We create software & digital product</h2>
            <p>
              Credibly deliver out-of-the-box benefits through just in time best
              practices. Globally orchestrate holistic communities without
              visualize performance based premium alignments.
            </p>
          </div>
          <ul
            class="list-unstyled d-flex flex-wrap list-two-col mt-5"
            data-aos="fade-up"
            data-aos-delay="100"
          >
            <li>
              <div class="icon-box">
                <i class="fas fa-briefcase text-white bg-warning rounded"></i>
              </div>
              <h3 class="h5">Fast Services</h3>
              <p>Rapidiously exploit robust solutions without alignments.</p>
            </li>
            <li>
              <div class="icon-box">
                <i class="fas fa-truck text-white bg-info rounded"></i>
              </div>
              <h3 class="h5">Free Shipping</h3>
              <p>Interactively integrate whereas extensible users resource.</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-12">
        <div class="feature-img-holder p-lg-5 pb-3">
          <div
            class="bg-danger-soft p-lg-5 p-3 rounded-custom position-relative d-block feature-img-wrap"
          >
            <div class="position-relative">
              <img
                src="assets/img/screen/widget-9.png"
                class="img-fluid rounded-custom position-relative"
                alt="feature-image"
                data-aos="fade-up"
                data-aos-delay="50"
              />
              <img
                src="assets/img/screen/widget-10.png"
                class="img-fluid rounded-custom shadow position-absolute top--100 right--100 hide-medium"
                alt="feature-image"
                data-aos="fade-up"
                data-aos-delay="100"
              />
            </div>
            <div
              class="position-absolute bg-dark-soft z--1 dot-mask dm-size-12 dm-wh-250 bottom-left"
            ></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
