<div class="bg-light-blue">
  <app-header [absolute]="true"></app-header>
  <app-hero-fifteen></app-hero-fifteen>
  <app-upcoming-events></app-upcoming-events>
  <app-ev-about></app-ev-about>
  <app-ev-speaker-list></app-ev-speaker-list>
  <app-ev-counter></app-ev-counter>
  <app-ev-session></app-ev-session>
  <app-ev-price></app-ev-price>
  <app-ev-testimonial></app-ev-testimonial>
  <app-ev-cta></app-ev-cta>
  <app-ev-blog></app-ev-blog>
  <app-ev-sponsor-logo></app-ev-sponsor-logo>
  <app-footer-with-bg></app-footer-with-bg>
</div>
