<section class="cyber-brand-logo pt-80">
  <div class="container">
    <div class="row">
      <swiper [config]="config" class="brand-logo-slider">
        <ng-template swiperSlide>
          <div class="cyber-brand-logo text-center">
            <img src="assets/img/brand-logo/slack_logo.png" alt="logo " /></div
        ></ng-template>
        <ng-template swiperSlide>
          <div class="cyber-brand-logo text-center">
            <img src="assets/img/brand-logo/logo2.png" alt="logo" />
          </div>
        </ng-template>
        <ng-template swiperSlide>
          <div class="cyber-brand-logo text-center">
            <img src="assets/img/brand-logo/logo3.png" alt="logo" /></div
        ></ng-template>
        <ng-template swiperSlide>
          <div class="cyber-brand-logo text-center">
            <img src="assets/img/brand-logo/logo4.png" alt="logo" /></div
        ></ng-template>
        <ng-template swiperSlide>
          <div class="cyber-brand-logo text-center">
            <img src="assets/img/brand-logo/logo5.png" alt="logo" /></div
        ></ng-template>
      </swiper>
    </div>
  </div>
</section>
