<section
  id = "home"
  class="hero-section ptb-120 text-white bg-gradient"
  style="background: url('assets/img/hero-dot-bg.png') no-repeat center right"
>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-10">
        <div class="hero-content-wrap mt-5 mt-lg-0 mt-xl-0">
          <h1 class="fw-bold display-5">
            Especialistas en Desarrollo de Software y Consultoria TI
          </h1>
          <p class="lead">
            Ofrecemos servicios de Consultoria TI y Desarrollo de Software
            para tus proyectos con la calidad y compromiso que requieres.
          </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-8 mt-5">
        <div class="hero-img position-relative circle-shape-images">
          <!--animated shape start-->
          <ul
            class="position-absolute animate-element parallax-element circle-shape-list"
            style="
              transform: translate3d(0px, 0px, 0px);
              transform-style: preserve-3d;
              backface-visibility: hidden;
            "
          >
            <li
              class="layer"
              data-depth="0.03"
              style="
                position: relative;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(5.016px, -3.44833px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/shape/circle-1.svg"
                alt="shape"
                class="circle-shape-item type-0 hero-1"
              />
            </li>
            <li
              class="layer"
              data-depth="0.02"
              style="
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(3.344px, -2.29889px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/shape/circle-1.svg"
                alt="shape"
                class="circle-shape-item type-1 hero-1"
              />
            </li>
            <li
              class="layer"
              data-depth="0.04"
              style="
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(6.688px, -4.59777px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/shape/circle-1.svg"
                alt="shape"
                class="circle-shape-item type-2 hero-1"
              />
            </li>
            <li
              class="layer"
              data-depth="0.04"
              style="
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(6.688px, -4.59777px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/shape/circle-1.svg"
                alt="shape"
                class="circle-shape-item type-3 hero-1"
              />
            </li>
            <li
              class="layer"
              data-depth="0.03"
              style="
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(5.016px, -3.44833px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/shape/circle-1.svg"
                alt="shape"
                class="circle-shape-item type-4 hero-1"
              />
            </li>
            <li
              class="layer"
              data-depth="0.03"
              style="
                position: absolute;
                display: block;
                left: 0px;
                top: 0px;
                transform: translate3d(5.016px, -3.44833px, 0px);
                transform-style: preserve-3d;
                backface-visibility: hidden;
              "
            >
              <img
                src="assets/img/shape/circle-1.svg"
                alt="shape"
                class="circle-shape-item type-5 hero-1"
              />
            </li>
          </ul>
          <!--animated shape end-->
          <img
            src="assets/img/hero-1.png"
            alt="hero img"
            class="img-fluid position-relative z-5"
          />
        </div>
      </div>
    </div>
  </div>
</section>
