<section class="digtal-marketing-logo pb-120">
  <div class="container">
    <div class="bg-soft-blue py-5 px-4 rounded-3">
      <div class="row justify-content-center">
        <div class="col-auto">
          <h5 class="mb-4">Trusted by the best companies in the world</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <swiper [config]="config" class="digi-logo-slider">
            <ng-template swiperSlide>
              <div class="single-logo">
                <img
                  src="assets/img/brand-logo/google.svg"
                  class="img-fluid"
                  height="30"
                  alt="logo"
                />
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="single-logo">
                <img
                  src="assets/img/brand-logo/facebook.svg"
                  class="img-fluid"
                  alt="logo"
                  height="30"
                />
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="single-logo">
                <img
                  src="assets/img/brand-logo/youtube.svg"
                  class="img-fluid"
                  alt="logo"
                  height="30"
                />
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="single-logo">
                <img
                  src="assets/img/brand-logo/printerest.svg"
                  class="img-fluid"
                  alt="logo"
                  height="30"
                />
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="single-logo">
                <img
                  src="assets/img/brand-logo/webflow.svg"
                  class="img-fluid"
                  alt="logo"
                  height="30"
                />
              </div>
            </ng-template>
            <ng-template swiperSlide>
              <div class="single-logo">
                <img
                  src="assets/img/brand-logo/company.svg"
                  class="img-fluid"
                  alt="logo"
                  height="30"
                />
              </div>
            </ng-template>
          </swiper>
        </div>
      </div>
    </div>
  </div>
</section>
